@import '../../styles/variables.scss';
.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 20rem;
  font-size: 2rem;
  text-align: center;
  a,
  &:hover {
    color: $gray-dark-4;
  }
}
