@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.videobook {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 200px;
  max-width: 800px;
  .videoWrapper {
    width: 100%;
    position: relative;
    padding-bottom: calc(9/16*100%);
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
