@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.content {
  display: flex;
  justify-content: center;
  padding: $content-padding;
  padding: $content-padding-vw;
  padding-top: $content-padding / 2;
  padding-top: $content-padding-vw / 2;
  &Inner {
    width: 100%;
  }
  @include mq-tablet-landscape-up {
    padding-top: $content-padding;
  }
}
