@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$sidebar-width: 30%;
.layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @include mq-tablet-portrait-up {
    flex-direction: row;
    .nav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: $sidebar-width;
      border-right: 1px solid rgba($gray-dark-9, .06);
      height: 100vh;
    }
    .main {
      margin-left: $sidebar-width;
      width: calc(100% - #{$sidebar-width});
    }
  }
}
