@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navigation {
  display: flex;
  height: 100%;
  background-color: $gray-dark-4;
  &Inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mq-tablet-portrait-up {
      padding-right: 0;
    }
  }
  .bottom {
    display: none;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
  }

  @include mq-tablet-portrait-up {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    background-color: transparent;
    .bottom {
      display: block;
    }
  }
}
