@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.contact {
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 2rem;
  @include mq-tablet-portrait-up {
    margin-bottom: 3rem;
  }
}

.labelInput {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  .label {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 0;
    font-size: 2rem;
    color: $gray-dark-2;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
  }
  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $gray-dark-2;
    transform: scaleX(0);
    transform-origin: 0 0;;
    transition: all .15s ease;
  }
  &.textarea {
    .label {
      top: 2rem;
    }
  }
  input, textarea {
    &:not(:placeholder-shown) + span {
      color: $gray-mid-6;
      transform: translateY(-26px) scale(.75);
    }
    &:focus {
      background: none;
      outline: none;
    }
    &:focus + span {
      color: $gray-mid-8;
      transform: translateY(-26px) scale(0.75);
    }
    &:focus + span + .border {
      transform: scaleX(1);
    }
  }
}

.input {
  -webkit-appearance: none;
  resize: none;
  transition: all .15s ease;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;
  border-bottom: 2px solid $gray-light-5;
  background: none;
  border-radius: 0;
  color: $gray-dark-2;
}

.button {
  width: 100%;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: $gray-dark-2;
  color: white;
  transition: background-color .3s;

  @include mq-tablet-portrait-up {
    width: auto;
  }
  &:hover,
  &:focus {
    background-color: $gray-dark-1;
  }
  > * {
    position: relative;
  }
  span {
    display: block;
    padding: 12px 24px;
  }
  &:before {
    transform: translate(-50%, -50%);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
  }
  &:active {
    &:before {
      width: 120%;
      padding-top: 120%;
      transition: width .2s ease-out, padding-top .2s ease-out;
    }
  }
}
