@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: $content-padding;
  margin: $content-padding-vw;
  margin-bottom: $bottom-header / 2;
  margin-top: 0;
  &:after {
    content: '';
    height: 3px;
    width: 100px;
    background-color: $gray-light-8;
    top: $bottom-header / 2;
    position: relative;
  }

  .title {
    margin: 0;
    font-family: $fs-sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    @include mq-tablet-landscape-up {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }

  .description {
    font-family: $fs-sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $gray-light-4;
    text-align: left;
    margin: 0;
  }

  .content {
    font-family: $fs-sans-serif;
    font-size: 1.8em;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  @include mq-tablet-landscape-up {
    .title {
      font-size: 5rem;
    }
    .content {
      max-width: 90%;
      align-items: center;
    }
  }
}
