$gutter: 30px;
$gutter-vw: 2vw;
$border-radius: 2px;
.grid {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $gutter;
    margin-bottom: $gutter-vw;
    // Gutters
    margin-left: calc(-#{$gutter} / 2);
    margin-left: calc(-#{$gutter-vw} / 2);
    margin-right: calc(-#{$gutter} / 2);
    margin-right: calc(-#{$gutter-vw} / 2);
  }

  .cell {
    flex: 1;
    width: 50%;
    margin-left: calc($gutter / 2);
    margin-right: calc($gutter / 2);
    margin-left: calc($gutter-vw / 2);
    margin-right: calc($gutter-vw / 2);
    border-radius: $border-radius;

    &.isVisible {
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    }

    .imageWrapper {
      overflow: hidden;
      height: 100%;
      cursor: pointer;
      border-radius: $border-radius;
      img {
        object-fit: cover;
        transition: transform 400ms ease-out;
        &:hover,
        &:active {
          transform: scale(1.15);
        }
      }
    }

    .emptyCell {
      &:after {
        content: '';
        display: block;
        margin-top: 0.8em;
        height: 1px;
      }
    }
  }
}
