$gutter: 30px;
$gutter-vw: 2vw;
.grid {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $gutter;
    margin-bottom: $gutter-vw;
    // Gutters
    margin-left: -$gutter / 2;
    margin-left: -$gutter-vw / 2;
    margin-right: -$gutter / 2;
    margin-right: -$gutter-vw / 2;
  }

  .cell {
    flex: 1;
    width: 50%;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
    margin-left: $gutter-vw / 2;
    margin-right: $gutter-vw / 2;

    &.isVisible {
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
    }

    .imageWrapper {
      overflow: hidden;
      height: 100%;
      cursor: pointer;
      border-radius: 2px;
      img {
	      object-fit: cover;
	      transition: transform 400ms ease-out;
        &:hover {
          transform: scale(1.15);
        }
      }
    }

    .emptyCell {
      &:after {
        content: "";
        display: block;
        margin-top: .8em;
        height: 1px;
      }
    }
  }
}
