@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sidebar {
  display: flex;
  height: 100%;
  &Inner {
    width: 100%;
    padding-left: 4rem;
    // Mobile padding
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 4rem;

    display: flex;
    flex-direction: column;
    position: relative;
  }
  .bottom {
    display: none;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    font-size: 1.4rem;
  }

  .menu {
    display: none;
    list-style: none;
    margin: 0;
    &Link {
      display: block;
      padding: 1rem 4rem 1rem 0;
      font-size: 2rem;
      text-decoration: none;
      text-align: right;
      color: $gray-dark-3;
      border-right: .3rem solid transparent;
      &:active,
      &:visited,
      &:hover {
        color: $gray-dark-3;
        text-decoration: none;
      }
    }
    &LinkActive {
      border-color: $gray-dark-3;
    }
  }

  @include mq-tablet-portrait-up {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    .menu {
      display: flex;
      flex-direction: column;
    }
    .bottom {
      display: block;
    }
  }
}

.title {
  font-family: $fs-serif;
  margin-bottom: 0;
  a {
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  a,
  a:hover,
  a:visited,
  a:active {
    color: $gray-dark-8;
    text-decoration: none;
  }
  .name {
    font-size: 2rem;
  }
  .surname {
    font-size: 4rem;
  }

  .surname {
    margin-left: .6rem;
  }

  // Media query
  @include mq-tablet-portrait-up {
    text-align: left;
    margin-top: 7rem;
    margin-bottom: 4rem;
    a {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-right: 4rem;
      font-size: 6rem;
    }
  }

  @include mq-tablet-landscape-up {
    .surname {
      font-size: 6rem;
      margin-left: 0;
      margin-top: -1rem;
    }
  }

  @include mq-desktop-up {
    .surname {
      font-size: 8rem;
      margin-left: 0;
    }
  }
}
